{% extends "base.html" %}

{% block title %}Активности - SapaHR{% endblock %}

{% block content %}
<div class="activities-page">
    <h1>🎯 Активности сотрудников</h1>
    
    <div class="activities-list">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Пользователь</th>
                    <th>Тип активности</th>
                    <th>Описание</th>
                    <th>Баллы</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                <tr>
                    <td>{{ activity.id }}</td>
                    <td>{{ activity.user.first_name }} {{ activity.user.last_name }}</td>
                    <td>{{ activity.activity_type }}</td>
                    <td>{{ activity.description }}</td>
                    <td>{{ activity.points }} 🏆</td>
                    <td>{{ activity.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
